#pdf-container {
    display: flex;
    height: 100vh;
}
.pdf-viewer {
    width: 50%;
    overflow-y: auto;
}
#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

canvas {
    width: 100%;
    height: auto;
}

.focus {
    border-width: 2px;
    border-style: solid;
    border-color:green;
}